.wrapper {
    background-color: #a9a9e5;
    padding: 16px;
    width: 200px;
    border-radius: 16px;
    border: 1px solid black;
}

.weatherRow {
    display: flex;
    align-items: center;
    margin: 0px;
}
